@charset "UTF-8";

@font-face {
  font-family: "pmp-mobile-icons";
  src:url("pmp-mobile-icons.eot");
  src:url("pmp-mobile-icons.eot?#iefix") format("embedded-opentype"),
    url("pmp-mobile-icons.woff") format("woff"),
    url("pmp-mobile-icons.ttf") format("truetype"),
    url("pmp-mobile-icons.svg#pmp-mobile") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pmp-mobile-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-pmp-mobile-"]:before,
[class*=" icon-pmp-mobile-"]:before {
  font-family: "pmp-mobile-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pmp-mobile-magnifier:before {
  content: "a";
}
.icon-pmp-mobile-user-2:before {
  content: "b";
}
.icon-pmp-mobile-arrow-61:before {
  content: "c";
}
.icon-pmp-mobile-arrow-62:before {
  content: "d";
}
.icon-pmp-mobile-arrow-65:before {
  content: "e";
}
.icon-pmp-mobile-arrow-66:before {
  content: "f";
}
.icon-pmp-mobile-arrow-circle-1:before {
  content: "g";
}
.icon-pmp-mobile-arrow-circle-2:before {
  content: "h";
}
.icon-pmp-mobile-arrow-67:before {
  content: "i";
}
.icon-pmp-mobile-arrow-68:before {
  content: "j";
}
.icon-pmp-mobile-check-2:before {
  content: "k";
}
.icon-pmp-mobile-call-1:before {
  content: "m";
}
.icon-pmp-mobile-mail-1:before {
  content: "n";
}
.icon-pmp-mobile-user-2-1:before {
  content: "o";
}
.icon-pmp-mobile-folder-1:before {
  content: "p";
}
.icon-pmp-mobile-folder-2:before {
  content: "q";
}
.icon-pmp-mobile-check-4:before {
  content: "r";
}
.icon-pmp-mobile-calculator-3:before {
  content: "t";
}
.icon-pmp-mobile-call-1-1:before {
  content: "u";
}
.icon-pmp-mobile-mail-1-1:before {
  content: "v";
}
.icon-pmp-mobile-mail-2:before {
  content: "w";
}
.icon-pmp-mobile-connection-2:before {
  content: "x";
}
.icon-pmp-mobile-connection-2-1:before {
  content: "y";
}
.icon-pmp-mobile-check-1:before {
  content: "z";
}
.icon-pmp-mobile-delete-1:before {
  content: "A";
}
.icon-pmp-mobile-add-1:before {
  content: "B";
}
.icon-pmp-mobile-arrow-39:before {
  content: "s";
}
.icon-pmp-mobile-arrow-40:before {
  content: "l";
}
.icon-pmp-mobile-reply-mail-2:before {
  content: "C";
}
.icon-pmp-mobile-transfer-3:before {
  content: "D";
}
.icon-pmp-mobile-bubble-ask-2:before {
  content: "E";
}
.icon-pmp-mobile-bubble-ask-2-1:before {
  content: "H";
}
.icon-pmp-mobile-call-2:before {
  content: "F";
}
.icon-pmp-mobile-letter-3:before {
  content: "G";
}
.icon-pmp-mobile-letter-3-1:before {
  content: "I";
}
.icon-pmp-mobile-call-3:before {
  content: "J";
}
.icon-pmp-mobile-smartphone:before {
  content: "K";
}
.icon-pmp-mobile-smartphone-1:before {
  content: "L";
}
.icon-pmp-mobile-connection-1:before {
  content: "M";
}
.icon-pmp-mobile-folder-1-1:before {
  content: "N";
}
.icon-pmp-mobile-power-4:before {
  content: "O";
}
.icon-pmp-mobile-connection-1-1:before {
  content: "P";
}
.icon-pmp-mobile-power-4-1:before {
  content: "Q";
}
.icon-pmp-mobile-timer:before {
  content: "R";
}
.icon-pmp-mobile-list-1:before {
  content: "S";
}
.icon-pmp-mobile-list-1-1:before {
  content: "T";
}
.icon-pmp-mobile-upload-5:before {
  content: "U";
}
.icon-pmp-mobile-inbox-2:before {
  content: "V";
}
.icon-pmp-mobile-upload-5-1:before {
  content: "W";
}
.icon-pmp-mobile-calendar-2:before {
  content: "X";
}
.icon-pmp-mobile-clock-3:before {
  content: "Y";
}
.icon-pmp-mobile-user-block-2:before {
  content: "Z";
}
.icon-pmp-mobile-file-block:before {
  content: "0";
}
.icon-pmp-mobile-file-attention:before {
  content: "1";
}
.icon-pmp-mobile-alert-2:before {
  content: "2";
}
