/*
 * Mixins 
 * --------------------------
 * Helpful mixins.
 */
 /* 
 * This is the helper file that includes all mixens for Mobile GLG/Go
 */

@mixin clearfix() {
  &:before, &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin circle-avatar() {
  width: 60px;
  height: 60px;
  border-radius: 90px; 
}

@mixin circle-avatar-large() {
  width: 75px;
  height: 75px;
  border-radius: 90px; 
}

@mixin rounded-avatar() {
  width: 50px;
  height: 50px;
  border-radius: 8px; 
}

/* Simple CSS transitions */
@mixin trans($val...) {
  -webkit-transition: $val;
  -moz-transition: $val; 
  -o-transition: $val; 
  transition: $val; 
}

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}


