.request-container {
  background: url('../images/request_background.jpg') no-repeat center center;
  background-size: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.center-request {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  text-align: center;
  min-width: 300px;
  max-width: 400px;
  width: 400px;
  height: 350px;
  @include mobile-landscape-and-up() {
    height: 350px;
  } 
  p {
    color: #D8D8D8;
    font-weight: normal;
  }
}

.logo {
  .r-logo {
    @include glg-logo();
    color: #FAFAFA;
    font-size: 32px;
    @include mobile-landscape-and-up() {
      font-size: 35px;
    }
    margin-left: 5px;
  }
  .go {
    color: #FAFAFA;
    font-weight: 100; 
    position: relative;
    top: 2px;
    font-size: 40px; 
    @include mobile-landscape-and-up() {
      font-size: 45px;
    }
  }
  .slant {
    color: $accent-color;
    font-weight: 300;
    font-size: 40px;
    @include mobile-landscape-and-up() {
      font-size: 45px;
    }
    position: relative;
    top: 2px;
  } 
}

.request-footer {
  background: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/*input[type=text]:focus {
  color: #FAFAFA;
  border: 1px solid rgba(255, 255, 255, 1.0);
  //outline: none;
}*/

textarea:focus, input[type="phone"]:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {   
  //border-color: rgba(239, 64, 53, 0.8);
  border-color: rgba(255, 255, 255, 0.5);
  //box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 64, 53, 0.6);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 255, 255, 0.6);
  outline: 0 none;
  /*:-webkit-input-placeholder {
    margin-left: 5px;
    color: #FAFAFA;
    letter-spacing: 1px;
  }*/
}

.request-input {
  padding: 20px 0 20px 0;
  label {
    input {
      font-weight: normal;
      font-size: $font-size-18;
      color: #FAFAFA;
      margin-bottom: 20px;
      box-shadow: inset rgba(0,0,0,0.2) 0 2px 5px,inset rgba(0,0,0,0.35) 0 1px 1px,inset rgba(0,0,0,0.3) 0 0 2px;
      padding: 15px 5px 10px 15px;
      border: 1px solid #4A4A4A;
      background-image: -o-linear-gradient(-89deg, rgba(102,102,102,0.99) 0%, #2F2F2F 100%);
      background-image: -moz-linear-gradient(-89deg, rgba(102,102,102,0.99) 0%, #2F2F2F 100%);
      background-image: -ms-linear-gradient(-89deg, rgba(102,102,102,0.99) 0%, #2F2F2F 100%);
      background-image: linear-gradient(-179deg, rgba(102,102,102,0.99) 0%, #2F2F2F 100%);
      border: 1px solid #4A4A4A;
      -moz-box-shadow:    inset 2px 2px 6px 4px rgba(0,0,0,0.20);
      box-shadow:         inset 2px 2px 6px 4px rgba(0,0,0,0.20);
      transition: all 0.30s ease-in-out;
      -webkit-font-smoothing: antialiased;
      width: 300px;
      @include mobile-landscape-and-up() {
        width: 100%;
      }
    }
    ::-webkit-input-placeholder {
      margin-left: 5px;
      color: #999;
      letter-spacing: 1px;
    }

    ::-moz-placeholder { /* Firefox 18- */
      margin-left: 5px;
      color: #999;
      letter-spacing: 1px;
    }

    ::-moz-placeholder {  /* Firefox 19+ */
      margin-left: 5px;
      color: #999;
      letter-spacing: 1px;
    }

    :-ms-input-placeholder {  
      margin-left: 5px;
      color: #999;
      letter-spacing: 1px;
    }
  }
  p {
    font-weight: 900;
    font-size: $font-size-20;
    text-transform: uppercase;
    margin: 0 0 10px 0;
  }
}

.tofs {
  p {
    display: inline-block;
    margin-left: 8px;
    font-size: 14px;
    margin-bottom: 20px;
  }
  padding-top: 20px;
  color: #D8D8D8;
  a {
    text-decoration: underline;
  }
}

.request-button {
  background: linear-gradient(top, #F2635D, #E71C13);
  background: linear-gradient(to bottom right, #F2635D 0%, #E71C13 100%);
  border: 1px solid #FF1E18;
  border-radius: 4px;
  padding: 5px 10px 10px 0px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
  margin: 20px auto 0 auto;
  position: relative;
  width: 300px;
  .icon-container {
    display: inline-block;
    position: relative;
    top: 8px;
    left: -92px;
    margin-right: 5px;
    span {
      color: $white;
      font-size: 30px;
      border: 1px solid #FFF;
      border-radius: 50px;
      padding: 14px 8px 0 8px
    } 
  }
  .request-btn {
    color: #FAFAFA;
    padding: 0;
    background: transparent;
    border: none;
    font-weight: 300;
    font-size: $font-size-20;
    -webkit-font-smoothing: antialiased;
    padding: 17px 25px 14px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;

  }
  .request-btn-copy {
    display: inline-block;
    h4 {
      margin: 5px 0;
      color: #FAFAFA;
      font-weight: 500;
    }
  }
}

.request-button:active {
  position: relative;
  top: 1px;
}

@keyframes pulse {
  0% {
    //-webkit-box-shadow: 0 0 12px rgba(239, 64, 53, 0.6);
    -webkit-box-shadow: 0 0 12px rgba(250, 250, 250, 0.2);
  }
  50% {
    //-webkit-box-shadow: 0 0 12px rgba(239, 64, 53, 0.9);
    -webkit-box-shadow: 0 0 12px rgba(250, 250, 250, 0.9);
  }
  100% {
    //-webkit-box-shadow: 0 0 12px rgba(239, 64, 53, 0.6);
    -webkit-box-shadow: 0 0 12px rgba(250, 250, 250, 0.2);
  }
}

.request-button:hover,
.request-button:focus {
  animation: pulse 1.5s infinite ease-in-out;
}

/* 
 * Error dialog
 */
.error-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: red;
  width: 310px;
  margin: auto;
  border-radius: 4px;
  background-image: -o-linear-gradient(-89deg, #F8F8F8 3%, #F9F9F9 53%, #F8F8F8 100%);
  background-image: -moz-linear-gradient(-89deg, #F8F8F8 3%, #F9F9F9 53%, #F8F8F8 100%);
  background-image: -ms-linear-gradient(-89deg, #F8F8F8 3%, #F9F9F9 53%, #F8F8F8 100%);
  background-image: linear-gradient(-179deg, #F8F8F8 3%, #F9F9F9 53%, #F8F8F8 100%);
  border: 1px solid #CCCCCC;
  -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.50);
  box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.50);
  border-radius: 0 0 4px 4px;
  transform: translate3d(0, -110px, 0);
  transition: transform 300ms ease;
  z-index: 3;
  h2 {
    text-align: center;
    margin: 10px 0;
    padding: 0;
    font-weight: 900;
    color: $accent-color;
    font-size: $font-size-16;
    span {
      font-size: $font-size-24;
      position: relative;
      top: 5px;
    }
  }
  p {
    font-size: $font-size-16;
    margin: 0 10px 15px 10px;
    text-align: center;
  }
}

.error-dialog.show {
  transform: translate3d(0, 0px, 0);
  transition: transform 300ms ease;
}


/* 
 * Success Modal Dialog
 */

 /* Overlay Markup */

.success-overlay {
  background-image: -o-linear-gradient(-89deg, rgba(250,250,250,0.75) 0%, rgba(250,250,250,0.53) 100%);
  background-image: -moz-linear-gradient(-89deg, rgba(250,250,250,0.75) 0%, rgba(250,250,250,0.53) 100%);
  background-image: -ms-linear-gradient(-89deg, rgba(250,250,250,0.75) 0%, rgba(250,250,250,0.53) 100%);
  background-image: linear-gradient(-179deg, rgba(250,250,250,0.75) 0%, rgba(250,250,250,0.53) 100%);
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: -1;
  transition: all 350ms linear;
  opacity: 0.0;
}

.success-overlay.show {
  transition: all 350ms linear;
  opacity: 1.0;
  z-index: 10;
}

/* Success Modal */
.success-dialog.show {
  opacity: 1.0;
  z-index: 10;
}

.success-dialog {
  opacity: 0.0;
  transition: all 350ms linear;
  z-index: -1;
  border-radius: 4px;
  background: #FAFAFA;
  -moz-box-shadow:    0px 2px 4px 0px rgba(0,0,0,0.50);
  box-shadow:         0px 2px 4px 0px rgba(0,0,0,0.50);
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  margin: auto;
  text-align: center;
  min-width: 450px;
  width: 600px;
  max-width: 600px;
  height: 350px;
}

.success-header {
  border-radius: 4px 4px 0 0;
  color: #454545;
  font-weight: 500;
  padding: 25px 0 20px 0;
  border-bottom: 1px solid #CCC;
  p {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: $font-size-22;
  }
  .r-logo {
    @include glg-logo();
    color: #4A4A4A;
    font-size: 19px;
    margin-left: 2px;
  }
  .go {
    color: #4A4A4A;
    font-weight: 100; 
    font-size: 24px;
    position: relative;
    top: 1px; 
  }
  .slant {
    color: $accent-color;
    font-weight: 300;
    font-size: 26px;
    position: relative;
    top: 2px;
  }  
}

.btn {
  background: linear-gradient(top, #F2635D, #E71C13);
  background: linear-gradient(to bottom right, #F2635D 0%, #E71C13 100%);
  border: 1px solid #FF1E18;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.15);
  color: #FAFAFA;
}

.success-body {
  width: 70%;
  margin: 0 auto;
  position: relative;
  p {
    font-size: $font-size-18;
    padding: 30px 0;
    line-height: 1.4;
    margin: 10px 0;
  }

  .home-btn {
    background: #FAFAFA;
    border: 1px solid #BBBBBB;
    padding: 15px 20px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
    position: absolute;
    left: 0;
    a {
      color: #454545;
      font-size: $font-size-18;
      font-weight: 5300;
    }
  }

  .token-btn {
    cursor: pointer;
    padding: 15px 20px;
    position: absolute;
    right: 0;
    font-size: $font-size-18;
    color: #FAFAFA;
    font-weight: 500;
  }
}






