<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Request GO Mobile App</title>
    <link rel="stylesheet" href="css/main.css" type="text/css">
    <script type="text/javascript" src="scripts/request.js"></script>
  </head>
  <body>
    <div class="success-overlay"></div>
    <div class="success-dialog">
      <div class="success-header">
        <p>Welcome to </p>
        <span class="r-logo">⌂</span><span class="slant">/</span><span class="go">GO Mobile</span>
      </div>
      <div class="success-body">
        <p>Your GLG token is being generated.  A text message will be sent if you entered a cell number.  Otherwise an email will be delivered with a download link.</p>
        <div class="btn home-btn"><a href="index.html">Back Home</a></div>
        <div class="btn token-btn">Request another token</div>
      </div>
    </div>
    <div class="request-container">

      <div class="error-dialog"></div>

      <div class="center-request">
        <div class="logo">
          <a href="index.html">
            <span class="r-logo">⌂</span>
            <span class="slant">/</span>
            <span class="go">GO Mobile</span>
          </a>
        </div>
        <p>Request Token and App Download</p>
        <form class="request-input">
          <label>
            <input id="cell" type="phone" name="phone" placeholder="Cell Number" title="Cell Number">
          </label>
          <p>Or</p>
          <label>
            <input id="email" type="email" name="email" placeholder="Email" title="Email">
          </label>
        </form>
        <!--<div class="tofs">
          <input type="checkbox" name="vehicle" value="Car">
          <p>Please read and agree to <a href="">terms of service.</a></p>
        </div>-->

        <div class="request-button">
          <a href="#">
            <div class="icon-container">
              <span class="phone-icon" aria-hidden="true" data-icon="L"></span>
            </div>
            <div class="request-btn-copy">
              <h4>Request App Download</h4>
            </div>
          </a>
        </div> <!-- end of request-button -->
      </div> <!-- request-container -->

      <footer class="request-footer">
        <div class="footer-container">
          <ul class="footer-menu">
            <li><a href="http://glg.it/">Our Mission</a></li>
            <li><a href="http://glg.it/about/">About Us</a></li>
            <li><a href="http://glg.it/news/">Newsroom</a></li>
            <li><a href="http://glg.it/compliance/">Complience</a></li>
          </ul>
          <div class="footer-logo">© ⌂</div>
        </div>
      </footer>
    </div>

    <-- Start of Micro-Templating -->
    <script id="notificationTemplate" type="text/html">
      <h2>
        <span aria-span="hidden" data-icon="2"></span>
        <%= title %> 
      </h2>
      <p><%= message %></p>
    </script> 




  </body>
</html>